.header {
  color: var(--color-black);
}

.input {
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  box-shadow: 0.3em 0.4em 1em rgba(110, 105, 105, 0.6);
  margin: 0.5rem;
}

.addBtn {
  background: var(--color-orange2);
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  box-shadow: 0.3em 0.4em 1em rgba(110, 105, 105, 0.6);
  margin: 0.5rem;
  font-weight: 700;
}

.cancelBtn {
  background: var(--color-black4);
  color: var(--color-black);
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  box-shadow: 0.3em 0.4em 1em rgba(110, 105, 105, 0.6);
  margin: 0.5rem;
  font-weight: 400;
}

@media screen and (max-width: 786px) {
  .expenseForm {
    display: flex;
    flex-direction: column;
  }
}
